.back-button {
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
  width: fit-content;
  margin-bottom: 28px;
  &_text {
    font-size: 1.25rem;
    font-weight: 1rem;
    line-height: 500;

    color: #c8235a;
  }
}
